name: Release

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - uses: actions/checkout@v2
    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        release_name: ${{ github.ref_name }}
        body: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}

  build_and_upload:
    needs: create_release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        arch: [amd64, arm64]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
    - name: Build binary
      run: |
        if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then GOOS=linux; else GOOS=darwin; fi
        GOARCH=${{ matrix.arch }}
        BINNAME=dollop-${{ matrix.os }}-${{ matrix.arch }}
        env GOOS=$GOOS GOARCH=$GOARCH go build -v -o "$BINNAME" .
    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ needs.create_release.outputs.upload_url }}
        asset_path: ./dollop-${{ matrix.os }}-${{ matrix.arch }}
        asset_name: dollop-${{ matrix.os }}-${{ matrix.arch }}
        asset_content_type: application/octet-stream
